body{
    .image-container{
        display: flex;
        justify-content: center;
        img{
            width: 40%;
            padding: 10px;
        }
    }
    .sum-container{
        display: grid;
        justify-items: center;
        .input-group{
            .num-container{
                background-color: aqua;
            }
        }
    }
}