body{
    .image-container{
        display: flex;
        flex-direction: row;
        img{
            width: 40%;
        }
    }
    .sum-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}